# LIST

In [64]:
lst=["sonali",23,23,"female"]

In [65]:
lst

['sonali', 23, 23, 'female']

In [66]:
lst.append("odisha")

In [67]:
lst

['sonali', 23, 23, 'female', 'odisha']

In [68]:
lst.count(23)

2

In [69]:
lst

['sonali', 23, 23, 'female', 'odisha']

In [70]:
lst.clear()

In [71]:
lst

[]

In [60]:
lst1=[2.3,4.445,3,5.33,2.5]

In [61]:
lst1

[2.3, 4.445, 3, 5.33, 2.5]

In [66]:
lst=lst1.copy()

In [67]:
lst

[2.3, 4.445, 3, 5.33, 2.5]

In [42]:
lang=["french","english"]

In [43]:
lang

['french', 'english']

In [44]:
lang2=["Spanish","Portuguese"]

In [45]:
lang2

['Spanish', 'Portuguese']

In [46]:
lang.extend(lang2)

In [47]:
lang

['french', 'english', 'Spanish', 'Portuguese']

In [48]:
lstnew=["a","e","i","o","u"]

In [49]:
lstnew

['a', 'e', 'i', 'o', 'u']

In [51]:
lstnew.index("i")

2

In [52]:
lstnew

['a', 'e', 'i', 'o', 'u']

In [53]:
lstnew.insert(3,"o")

In [54]:
lstnew

['a', 'e', 'i', 'o', 'o', 'u']

In [55]:
lstnew.pop(3)

'o'

In [56]:
lstnew.remove("o")

In [57]:
lstnew

['a', 'e', 'i', 'u']

In [58]:
lstnew.reverse()

In [59]:
lstnew

['u', 'i', 'e', 'a']

# DICT

In [72]:
mydict={"name":"Sonali","age":"23","state":"odisha"}

In [73]:
mydict

{'name': 'Sonali', 'age': '23', 'state': 'odisha'}

In [75]:
mydict.get("age")

'23'

In [76]:
mydict2={1:"one",2:"two"}

In [77]:
mydict2

{1: 'one', 2: 'two'}

In [78]:
mydict1=mydict2.copy()

In [79]:
mydict1

{1: 'one', 2: 'two'}

In [80]:
mydict1.items()

dict_items([(1, 'one'), (2, 'two')])

In [81]:
mydict1.keys()

dict_keys([1, 2])

In [84]:
mydict1.pop(1)

'one'

In [86]:
mydict1

{2: 'two'}

In [87]:
mydict

{'name': 'Sonali', 'age': '23', 'state': 'odisha'}

In [88]:
mydict.update(mydict1)

In [89]:
mydict

{'name': 'Sonali', 'age': '23', 'state': 'odisha', 2: 'two'}

In [90]:
mydict.setdefault("age")

'23'

In [91]:
mydict.popitem()

(2, 'two')

In [92]:
x=("key1","key2","key3")

In [93]:
y=0

In [96]:
newdict=dict.fromkeys(x,y)

In [97]:
newdict

{'key1': 0, 'key2': 0, 'key3': 0}

In [98]:
newdict.clear()

In [99]:
newdict

{}

# SET

In [147]:
fruits={"apple","banana","orange"}

In [148]:
fruits

{'apple', 'banana', 'orange'}

In [149]:
fruits.add("pear")

In [150]:
fruits

{'apple', 'banana', 'orange', 'pear'}

In [151]:
set1=fruits.copy()

In [152]:
set1

{'apple', 'banana', 'orange', 'pear'}

In [153]:
set2={"google","microsoft","apple"}

In [154]:
set3=set1.difference(set2)

In [155]:
set3

{'banana', 'orange', 'pear'}

In [156]:
set1.difference_update(set2)

In [157]:
set1

{'banana', 'orange', 'pear'}

In [158]:
set1.discard("banana")

In [159]:
set1

{'orange', 'pear'}

In [171]:
set3=fruits.intersection(set2)

In [172]:
set3

{'apple'}

In [184]:
fruits.intersection_update(set2)

In [185]:
fruits

{'apple'}

In [177]:
set3=fruits.isdisjoint(set2)

In [178]:
set3

False

In [140]:
x={"a","e","i","o","u"}

In [144]:
y={"f","a","i","e","o","u"}

In [145]:
z=x.issubset(y)

In [146]:
z

True

In [194]:
x.clear()

In [196]:
x

set()

# TUPLE

In [3]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [4]:
mytuple

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [5]:
mytuple.count(5)

2

In [7]:
mytuple.index(5)

5

# String

In [8]:
a = "Hello, World!"

In [9]:
a

'Hello, World!'

In [13]:
b=a.capitalize()

In [14]:
b

'Hello, world!'

In [16]:
b=a.casefold()

In [17]:
b

'hello, world!'

In [21]:
b=a.center(20)

In [22]:
b

'   Hello, World!    '

In [25]:
x="I love apples, apple are my favorite fruit"

In [28]:
x.count("apple")

2

In [33]:
str1="My name is Sonali."

In [34]:
str1

'My name is Sonali.'

In [35]:
str1.encode()

b'My name is Sonali.'

In [36]:
str1.endswith(".")

True

In [37]:
str2="xyz\t12345\tabc"

In [38]:
str2

'xyz\t12345\tabc'

In [39]:
str2.expandtabs()

'xyz     12345   abc'

In [41]:
a.find("World")

7

In [51]:
str3 = "The number is {num:.2f}"

In [52]:
str3

'The number is {num:.2f}'

In [53]:
str3.format(num=49)

'The number is 49.00'

In [57]:
strnew={"x":2,"y":3,"z":5}

In [59]:
"{x} {y} {z}".format_map(strnew)

'2 3 5'